<?xml version="1.0" ?>
<model>
    <name>cylinder</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Nicolas Bortoluzzi</name>
        <email>bortoluzzinicolas@gmail.com</email>
    </author>
    <description>
        A corroded pipe
    </description>
</model>
